<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
%>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
<footer class="apx-footer">
  <div class="bg-black">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-12">
          <h4 class="h1 color-white text-center font-weight-700">
            Vamos conversar sobre o seu projeto?
          </h4>
          <p class="h5 d-block text-center color-white">Queremos te ajudar a dar o próximo passo</p>
          <div class="d-flex align-items-center w-100 justify-content-center mt-5">
            <a href="" class="btn radius-100 bg-gradient color-white font-weight-600 px-auto d-inline py-3 px-5">Falar com um Especialista</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr class="m-0"></hr>
        </div>
      </div>
    </div>
    <div class="container py-5">
      <div class="row my-5 justify-content-between color-white">
        <div class="col-auto">
          <h5 class="d-block mb-4">
            Loja Virtual
          </h5>
          <ul>
            <li>
              <a href="">Criar loja virtual na E-com.plus</a>
            </li>
            <li>
              <a href="">Criar loja virtual na Bagy</a>
            </li>
            <li>
              <a href="">Criar loja virtual na Loja Integrada</a>
            </li>
          </ul>
        </div>
        <div class="col-auto">
          <h5 class="d-block mb-4">
            Serviços
          </h5>
          <ul>
            <li>
              <a href="">Criar loja virtual na E-com.plus</a>
            </li>
            <li>
              <a href="">Criar loja virtual na Bagy</a>
            </li>
            <li>
              <a href="">Criar loja virtual na Loja Integrada</a>
            </li>
          </ul>
        </div>
        <div class="col-auto atendimento">
          <h5 class="d-block mb-4">
            Atendimento
          </h5>
          <ul>
            <li class="mb-4">
              <div class="mb-2">
                <i class="fa fa-life-ring mr-2"></i>
                <strong>Suporte</strong>
              </div>
              <a
                href="/app/#/account/"
                title="<%= _.dictionary('myAccount') %>">
              
                Abrir um Chamado
                <small class="d-block">Respondemos em até 2 dias úteis</small>
              </a>
            </li>
          <% if (contacts.whatsapp) { %>
            <li class="mb-4">
              <div class="mb-2">
                <i class="fa-brands fa-whatsapp mr-2"></i>
                <strong>Central no WhatsApp</strong>
              </div>
              <a
                href="javascript:;"
                target="_blank"
                rel="noopener"
                class="whatsapp-link"
                data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
              >
                <%= contacts.whatsapp %>
                <small class="d-block">Dias úteis das 10h às 12h e 14h às 17h</small>
              </a>
            </li>
          <% } %>
        
        
          <% if (footer.contacts.email) { %>
            <li>
              <div class="mb-2">
                <i class="fa-regular fa-envelope mr-2"></i>
                <strong>E-mail</strong>
              </div>
              <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                <%= contacts.email %>
              </a>
              
            </li>
          <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center credits">
      <div class="col">
        <span>
          <small>
            <%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
          </small>
        </span>
      </div>
      <div class="col-auto"><%- await include('@/layout/inc/ecom-credits') %></div>
    </div>
  </div>
</footer>
<footer class="footer py-3 py-lg-4 py-xl-5 d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-<%= themeCustom === 'ecom-beauty' ? '' : 'lg-'%>last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>

          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-categories"
            role="button"
            aria-expanded="false"
            aria-controls="footer-categories"
          >
            <%= footer.links_2.title || _.dictionary('categories') %>
          </a>
          <div class="collapse" id="footer-categories">
            <% if (footer.links_2.list_categories) { %>
              <ul class="footer__links">
                <% _.categories.forEach(({ name, slug, parent }) => { %>
                  <% if (!parent) { %>
                    <li>
                      <i class="i-chevron-right"></i>
                      <a href="/<%= slug %>">
                        <%= name %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_2.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <div class="col-12 col-xl order-<%= themeCustom === 'ecom-beauty' ? '' : 'lg-'%>first">
        <h2 class="footer__title footer__store">
          <%= footer.description.title || _.settings.name %>
        </h2>
        <p><%- footer.description.text || _.settings.description %></p>

        <div class="mt-4 mb-3">
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__credits">
      <span>
        
      </span>
      <% if (themeCustom === 'ecom-beauty') { %>
        <div class="ecom-credits-container">
          <div class="ecom-credits">
            <a href="https://e-com.plus" target="_blank" rel="noopener">
              <img
                src="https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/ecom-credits-white.png"
                alt="E-Com Plus"
                width="125.42"
                height="20"
              >
            </a>
          </div>
        </div>
      <% } %>
      <button
        id="go-to-top"
        class="btn btn-primary ml-3"
        type="button"
        aria-label="<%= _.dictionary('goToTop') %>"
      >
        <i class="i-chevron-up"></i>
      </button>
    </div>
  </div>  
</footer>


